   # Ignore object files
   *.o
   *.d

   # Ignore static and dynamic libraries
   *.a
   *.so
   *.dll

   # Ignore compiled binary files
   *.exe
   *.out

   # Ignore build directories
   /build/
   /bin/
   /lib/

   # Ignore other temporary files
   *~
   *.swpbenchmarks/parsec/parsec-2.1/pkgs/kernels/dedup/inputs/input_simlarge.tar
lib/libcarbon_sim.a
